<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/">Folope</a>
  </div>
  <div class="flex-1">
    <label class="input" for="pesquisa">
      <lucide-angular name="search" class="h-[1em] opacity-50"></lucide-angular>
      <input
        id="pesquisa"
        type="search"
        class="grow"
        [formControl]="pesquisa"
        placeholder="Pesquisar..."
        aria-label="Pesquisar"
      />
    </label>
  </div>
  <div class="flex flex-1 justify-end-safe">
    <ul class="menu menu-horizontal px-1">
      <li>
        <label class="flex cursor-pointer gap-2" for="trocar-tema">
          <lucide-angular
            name="moon"
            class="h-[1.5em] opacity-70"
          ></lucide-angular>
          <input
            id="trocar-tema"
            type="checkbox"
            value="light"
            class="toggle theme-controller"
            aria-labelledby="label-trocar-tema"
          />
          <span id="label-trocar-tema" class="sr-only">Alternar tema</span>
          <lucide-angular
            name="sun"
            class="h-[1.5em] opacity-70"
          ></lucide-angular>
        </label>
      </li>
      @if(!(auth.obterEstadoUsuarioAutenticado() | async)){
      <li><a href="" (click)="login()">Login</a></li>
      }@else{
      <li>
        <details>
          <summary>
            {{ usuario()?.name }}
            <div class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="Tailwind CSS Navbar component"
                  [src]="usuario()?.picture"
                />
              </div>
            </div>
          </summary>
          <ul class="bg-base-100 rounded-t-none p-2 z-50">
            <li><a>Perfil</a></li>
            <li><a>Configurações</a></li>
            <li><a href="" (click)="logout()">Sair</a></li>
          </ul>
        </details>
      </li>
      }
    </ul>
  </div>
</div>
