@if(comentario !== undefined) {
<div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img
        alt="Foto de perfil do usuário {{
          comentario().detalhes_autor.nomeUsuario
        }}"
        [src]="comentario().detalhes_autor.fotoUsuario"
      />
    </div>
  </div>
  <div class="chat-header">
    {{ comentario().detalhes_autor.nomeUsuario }}
    <time class="text-xs opacity-50">{{ comentario().criado }}</time>
  </div>
  <div class="chat-bubble flex flex-col gap-2">
    <p [class.comentario-recolhido]="comentarioRecolhido()">
      {{ comentario().comentario }}
    </p>
    <button
      class="btn btn-soft btn-xs self-end"
      (click)="alterarEstadoComentario()"
    >
      {{ comentarioRecolhido() ? "Expandir" : "Recolher" }}
    </button>
  </div>
  <div class="chat-footer opacity-50">
    {{ comentario().detalhes_autor.nota ?? "Nota não informada" }}
  </div>
</div>

}@else {
<p>Comentário não encontrado</p>
}
